/*------------------*\
      CABECALHO
\*------------------*/

.nav-menu{
  box-sizing: border-box;
  width: auto;
  text-align: center;
}
.menu__cabecalho{
  color:#e10000;
  padding-inline-start: 0px;
  height: 77px;
  left: 0;
  right: 0;
  margin: auto; 
  
}
/* itens do menu */
.menu__item{
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
  font-size: x-large;
  
}

.menu__item a{
  text-decoration: none;
}

.menu__logo{
  max-width: 270px;
  border: 0.5px #d41b1b solid;
}





/*------------------*\
        SESSÃO
\*------------------*/


.sessao {
    font-size: 1.6rem; /* 1.6 * 10px = 16px */
    text-align: center;
  }

  .sessao__titulo {
    margin: 0;
  
    color: #e10000;
  
    font-size: 3.375em; /* 54px / 16px = 3.375 */
    line-height: 0.9;
    text-shadow: 1px 1px #313131;
  }

  .sessao__subtitulo {
    margin: 60px 0;
  
    color: #e10000;
  
    font-size: 1em;
  }

  