.layout-cabecalho {
    border-bottom: 1px solid #ccc;
    background-color: #ffdedd;
    position: relative;
}

.layout-sessao {
  padding: 80px 0;
  margin-top: 60px;

  background-color: #ffdedd;
}

  .layout-rodape {
    margin-top: 10px;
    margin-bottom: 10px;  
    padding: 40px 0;
  
    background-color: #ffdedd;
  
    color: #e10000;
    text-align: center;
  }